{% extends 'base.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
{% endblock %}
{% block title %}Modifier mon mot de passe - Commerce Malagasy{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
     <a href="{{ path('account') }}">Retourner à mon compte </a><br/>
     <hr>
     {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
     {% endif %}
     {{form (form)}}
{% endblock %}
